.advertsection { margin-top:30px;}
.advertsection h1{ font-size:40px; font-family:"Open Sans Light", "serif"; line-height:40px; color:#202020; text-align:center; }
.advertblk { width:80%; margin:30px auto 0; float:none;}
.advertblk .advertimgleft { float:left; width:31%;}
.advertblk .advertimgleft img{ border:1px solid #dfdfdf;}
.advertblk .advertimgleft.noneborder img{ border:0px solid #dfdfdf;}
.advertblk .advertright { margin-left:30px; width:64%; float:left; }
.advertblk .advertright .advetsubhead { font-family:"Open Sans Semibold", "serif";line-height:30px; font-size:30px; margin-bottom:10px;}
.advertblk .advertright .adverttxt { font-family:"Open Sans Semibold", "serif"; font-size:14px; line-height:24px; margin-top:15px; margin-bottom:15px;}
ul.advertvalue { margin-top:10px; border-bottom:1px dotted #dfdfdf; padding-bottom:30px;}
ul.advertvalue li{ display:inline-block;  padding-right:10px; margin-right:10px; border-right:1px dotted #dfdfdf; font-size:13px; font-family:"Open Sans Regular", "serif"; color:#666666; text-transform:uppercase;  }
ul.advertvalue li:last-child{ border-right:none;}
ul.advertvalue li span{ display:block; font-family:"Open Sans Semibold", "serif"; font-size:30px; line-height:30px; color:#202020;  }
.advertblk .advertright  .advertinfo { margin-top:10px; }
.advertblk .advertright  .advertname { font-family:"Open Sans Semibold", "serif"; font-size:20px; line-height:26px; text-transform:uppercase; margin-bottom:15px; color:#202020; }
.advertblk .advertright .advertdetail { font-size:16px; font-family:"Open Sans Regular", "serif"; color:#333333;}
.advertblk .advertright .advertdetail span{ color:#666666; font-family:"Open Sans Regular", "serif";}
.adverbtn  { margin-top:15px;}
.adverbtn .btn-default.adddffi{  padding:9px 28px;  border:1px solid #E62005; color:#E62005; font-size:18px; font-family:"Open Sans Light", "serif"; margin-right:10px; }
.adverbtn .btn-default.adddffi:hover{ background:#E62005; color:#fff;}
.adglyblk{ background:#f3f3f3; padding:20px 50px; height:auto;}
.adglyblk.chgback { background:#fbfbfb; }
.retailersection { background:#f3f3f3; overflow:hidden;}
#tfwAdvertslider .carousel-control, #retailerAdvertslider .carousel-control, #entrepreneurAdvertslider .carousel-control {  padding-top:8%; width:2%; opacity: 1;}
ul.advertlist {}
ul.advertlist li{ display:inline-block; margin-right:10px; margin-bottom:0; position:relative;}
ul.advertlist li img{ border:1px solid #dfdfdf; }
ul.advertlist li:last-child { margin-right:0;}
#tfwAdvertslider .carousel-control.left, #retailerAdvertslider .carousel-control.left , #entrepreneurAdvertslider .carousel-control.left  { background-image: none; left: -25px; color:#333;}
#tfwAdvertslider .carousel-control.right, #retailerAdvertslider .carousel-control.right, #entrepreneurAdvertslider .carousel-control.right  { background-image: none; right: -25px; color:#333;}
#tfwAdvertslider ul.advertlist li .adveffect, #retailerAdvertslider ul.advertlist li .adveffect, #entrepreneurAdvertslider ul.advertlist li .adveffect { display:none;}
#tfwAdvertslider ul.advertlist li:hover .adveffect, #retailerAdvertslider ul.advertlist li:hover .adveffect,  #entrepreneurAdvertslider ul.advertlist li:hover .adveffect{ position:absolute; height:100%; width:100%; background:rgba(0,0,0,0.7); display:block; }
#advertiseimgage .modal-dialog { width: 999px;  text-align:center;  min-height: 700px;}
#advertiseimgage .modal-dialog img{ text-align:center;  margin:0 auto; display:block;}
#advertiseimgage .modal-body { padding:0;}
#advertiseoneimgage .modal-dialog { width: 499px;  text-align:center;  min-height: 700px;}
#advertiseoneimgage .modal-dialog img{ text-align:center;  margin:0 auto; display:block;}
#advertiseoneimgage .modal-body { padding:0;}
#webAdvertslider ul.advertlist li { margin-right: 11px;}
#webAdvertslider .carousel-control {  padding-top:5%; width:2.2%; opacity: 1;}
#webAdvertslider .carousel-control.left  { background-image: none; left: -25px; color:#333;}
#webAdvertslider .carousel-control.right  { background-image: none; right: -10px; color:#333;}
.entrepreneursection { margin-top:60px; padding-bottom:60px;}
.retailersection { margin-top:60px; padding-bottom:60px;}
.advereventsection ul.eventlist { margin-top: 40px!important;}
.advereventsection .eventperson  { font-size: 16px; line-height: 22px; color:#666666; }
.advereventsection .eventperson strong{font-family:"Open Sans Semibold", "serif"; font-size:16px; color:#333333}
.advereventsection .eventcontentblk .eventhdk { font-size: 25px; line-height: 25px; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
.advertsection h1 { font-size:30px; line-height: 30px;}
.advertsection { margin-top: 0px;}
.advertblk { width:auto;}
.advertblk .advertimgleft { float: none; text-align: center; width: 297px; margin:0 auto; }
.advertblk .advertimgleft img { width:100%;}
.advertblk .advertright { float:none; text-align: center; width: 297px; margin:0 auto; }
ul.advertvalue li {padding-right: 5px;   margin-right: 5px; font-size: 12px;}
ul.advertvalue li span { font-size: 16px; line-height: 18px; }
.advertblk .advertright .advetsubhead {line-height: 22px; font-size: 22px; margin-bottom: 10px; margin-top: 10px;}
.adverbtn .btn-default.adddffi { margin-right: auto; margin-bottom: 10px;}
#tfwAdvertslider .carousel-control.left, #retailerAdvertslider .carousel-control.left, #entrepreneurAdvertslider .carousel-control.left { top:48%;}
#tfwAdvertslider .carousel-control.right, #retailerAdvertslider .carousel-control.right, #entrepreneurAdvertslider .carousel-control.right { top:48%;}
#webAdvertslider .carousel-control.right {top:48%;right: -10px;}
#webAdvertslider .carousel-control.left{ top:48%; }
ul.advertlist li img { max-width: 100%;}
ul.advertlist { text-align: center; }
.retailersection,.entrepreneursection,.tfw, .franchisesection { margin-top: 0px; padding-bottom: 20px;}

#advertiseimgage .modal-dialog { width:92%; min-height:auto; margin-top: 40px;}
#advertiseimgage .modal-dialog img{ max-width: 100%;}
#advertiseoneimgage .modal-dialog { width:92%; min-height:auto; margin-top: 40px;}
#advertiseoneimgage .modal-dialog img{ max-width: 100%;}
    ul.advertlist li, ul.advertlist li:last-child { margin-right: auto;}
    #webAdvertslider ul.advertlist li, #webAdvertslider ul.advertlist :last-child { margin-right: auto; }
}


@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .advertblk {width: 100%;}
    .advertblk .advertimgleft img { max-width:100%;}
    .advertblk .advertright .advetsubhead { line-height: 17px; font-size: 20px;}
    ul.advertvalue {margin-top: 7px; padding-bottom: 7px;}
    ul.advertvalue li span { font-size: 23px; line-height: 20px;}
    .advertblk .advertright .advertinfo {margin-top: 10px;}
    .adverbtn {margin-top: 7px;}
    .advertsection {margin-top: 20px;}
    #tfwAdvertslider .carousel-control.left, #retailerAdvertslider .carousel-control.left, #entrepreneurAdvertslider .carousel-control.left { top:29%;}
    #tfwAdvertslider .carousel-control.right, #retailerAdvertslider .carousel-control.right, #entrepreneurAdvertslider .carousel-control.right { top:29%;}
    ul.advertlist { text-align: center;}
    ul.advertlist li.fulladvert { width:280px; text-align:center; margin-right: auto;}
    ul.advertlist li { width: 135px; text-align:center; margin-right: auto;}
    ul.advertlist li img { max-width: 100%;}
    #webAdvertslider ul.advertlist li { width: 147px; margin-right: 7px; }
    #webAdvertslider ul.advertlist :last-child{ margin-right: 0px;}
    .advereventsection ul.eventlist { width: 100%; text-align: center; margin: 0 auto;}
    .advereventsection ul.eventlist li { float: none; display: inline-block; width: 45%;}
    #webAdvertslider .carousel-control.left, #webAdvertslider .carousel-control.right {top: -7px;}
    .adverbtn .btn-default.adddffi {padding: 5px 20px;}
    .advertblk .advertright .advertdetail { font-size: 14px;}
    .advertblk .advertright .advertname { margin-bottom: 7px; line-height: 16px;}
 }

@media only screen and (min-width: 1024px) and (max-width: 1199px) {
    .advertblk {width: 100%;}
    ul.advertlist li.fulladvert { width:221px;}
    ul.advertlist li { width: 107px; margin-right: 13px;}
    ul.advertlist li img { max-width: 100%;}
    #webAdvertslider ul.advertlist li { width: 196px; margin-right: 15px; }
    #webAdvertslider ul.advertlist :last-child{ margin-right: 0px;}
   .advereventsection ul.eventlist { width: 100%; text-align: center;}
    .advereventsection ul.eventlist li { float: none; display: inline-block;}
    .retailersection,.entrepreneursection,.tfw, .franchisesection { margin-top: 0px; padding-bottom: 20px;}
    .advertsection { margin-top: 0px;  }

}

h1.evn {
    font-family: "Open Sans Light", "serif";
    font-size: 40px;
    line-height: 30px;
    color: #333333;
    margin-bottom: 15px;
    margin-top: 0;
}

.eventbor {
    border-bottom: 1px solid #dfdfdf;
    height: 65px;
    margin-left: 15px;
    margin-right: 15px;
}

ul.eventlist {
    margin-left: -15px;
    margin-right: -30px;
}

ul.eventlist li {
    border-radius: 4px;
    background: #fff;
    width: 380px;
    height: 480px; /*display:inline-block;*/
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
    position: relative;
    border: 1px solid #d4d4d4;
}

ul.eventlist li .imgblk {
    position: relative;
    width: 378px;
    height: 231px;
}

ul.eventlist li .imgblk img.bdr {
    border-bottom: 2px solid #d4d4d4;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

ul.eventlist li .imgblk .backdr {
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

ul.eventlist li .logocent {
    height: 228px;
    width: 378px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.demopadding {
    float: none;
    width: 138px;
    text-align: center;
    margin: -22px auto 0;
    position: relative;
}

.demopadding .icon {
    position: relative;
    text-align: center;
    width: 41px;
    height: 41px;
    border-radius: 50%;
    color: #999999;
}

.demopadding .icon i {
    font-size: 21px;
    position: absolute;
    left: 9px;
    top: 10px;
}

.demopadding .icon.social {
    float: left;
    margin: 0 5px 0 0;
    cursor: pointer;
    background: #fff;
    color: #444;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    border: 1px solid #444;
}

.demopadding .icon.social a {
    color: #444;
}

.demopadding .icon.social a:hover {
    color: #ed2027;
}

.demopadding .icon.social:hover {
    background: #fff;
    color: #ed2027;
    border: 1px solid #ed2027;
}

.demopadding .icon.social:hover a {
    color: #ed2027;
}

.demopadding .icon.social.fb i {
    left: 13px;
    top: 9px;
}

.demopadding .icon.social.tw i {
    left: 11px;
    top: 8px;
}

.demopadding .icon.social.in i {
    left: 11px;
    top: 8px;
}

.eventcontentblk {
    text-align: center;
    clear: both;
    overflow: hidden;
}

.eventcontentblk .eventhdk {
    font-size: 20px;
    font-family: "Open Sans Bold", "serif";
    line-height: 20px;
    color: #333;
    margin: 20px 0;
    padding: 0 27px;
}

.eventcontentblk .venuedate {
    font-size: 16px;
    font-family: "Open Sans Bold", "serif";
    line-height: 18px;
    color: #333;
    margin: 20px 0;
    text-transform: uppercase;
}

.eventcontentblk .venuedate span {
    font-family: "Open Sans Regular", "serif";
    display: block;
    font-size: 14px;
}

.eventcontentblk .btn-default.eventbtn {
    padding: 5px 15px;
    font-family: "Open Sans Regular", "serif";
    font-size: 14px;
    background: #dc3322;
    text-transform: uppercase;
    color: #fff;
}

.eventcontentblk .btn-default.eventbtn:hover {
    background: #333;
    border: 1px solid #333;
}

.eventhotline {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    background: #fbfbfb;
    height: 40px;
    border-top: 1px solid #d4d4d4;
    font-family: "Open Sans Bold", "serif";
    font-size: 18px;
    color: #333333;
    padding-top: 7px;
    text-transform: uppercase;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.eventhotline span {
    font-family: "Open Sans Semibold";
}

.eventtabblk ul.nav-tabs {
    border-bottom: 0;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.eventtabblk .nav-tabs > li {
    margin-right: 5px;
    display: inline-block;
    float: none;
}

.eventtabblk .nav-tabs > li > button {
    background: #fff;
    border: 1px solid #d4d4d4;
    font-family: "Open Sans Regular", "serif";
    font-size: 14px;
    color: #333;
    line-height: 20px;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 28px;
}

.eventtabblk .nav-tabs > li > button.active, .eventtabblk .nav-tabs > li > button:focus, .eventtabblk .nav-tabs > li > button:hover {
    background: #333;
    border: 1px solid #333;
    color: #fff;
    cursor: default;
}

.eventtabblk .nav-tabs > li > a:hover {
    background: #333;
    border: 1px solid #333;
    color: #fff;
}

.eventserblk {
    float: right;
    text-align: right;
    margin-right: 0;
}

/* .eventserblk ul.seablk li:last-child {display:inline-block;   width:46px;} */
.eventserblk ul.seablk li .form-control {
    box-shadow: none;
    height: 46px;
    border-radius: 5px;
}

.eventserblk ul.seablk li .btn-default.searchevent {
    background: #333;
    padding: 5px;
    border: 1px solid #333;
    color: #fff;
    padding: 8px 15px;
    margin-top: -6px;
}

.eventserblk ul.seablk li .btn-default.searchevent .fa-search {
    font-size: 15px;
    font-weight: 100;
}

.rightp {
    text-align: right;
    margin-top: 13px;
    padding-right: 0;
}

.rightp a {
    font-family: "Open Sans Regular", "serif";
    background-color: #fff;
    color: #666;
    padding: 11px 17px 10px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #d4d4d4;
}

.rightp a:hover {
    background: #333;
    color: #fff;
}

.eventserblk .dropbtn {
    font-family: "Open Sans Regular", "serif";
    background-color: #fff;
    color: #666;
    padding: 10px 12px 10px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #d4d4d4;
    width: 188px;
    text-align: left;
}

.eventserblk ul.seablk li.rightp a:hover {
    background: #333;
    color: #fff;
}

.eventserblk .dropbtn:hover, .eventserblk .dropbtn:focus {
    background-color: #fff;
    border: 1px solid #d4d4d4;
}

.eventserblk .dropdown {
    position: relative;
    display: inline-block;
}

.eventserblk .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 213px;
    min-width: 160px;
    /*overflow-y: auto;*/
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 3;
    color: #333333;
    padding-top: 20px;

}

.eventserblk .dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
}

.eventserblk .dropdown a:hover {
    background-color: #ddd;
}

.eventserblk .showDiv {
    display: block;
}

.eventserblk .dropbtn img.shercode {
    padding-top: 8px;
    float: right;
}

.eventserblk ul.eventlistpkg {
    /* height: 300px; */
    overflow: auto;
    margin-right: 20px;
    margin-bottom: 20px;
}

.eventserblk ul.eventlistpkg li {
    display: block;
    width: 100%;
    text-align: left;
    margin-left: 0;
}

.eventserblk ul.eventlistpkg li label {
    padding: 3px 7px 3px 15px;
    margin: 0 0 0;
    display: block;
    color: #333333;
}

.eventserblk ul.eventlistpkg li label:hover {
    /*background:#eee;*/
    cursor: pointer;
}

.eventserblk ul.subevent {
    margin-left: 20px;
}

.eventserblk ul.subevent li {
}

.eventserblk .eventclose {
    display: block;
    float: right;
    margin-right: 10px;
    margin-top: -15px;
    cursor: pointer;
}

.eveblk .tab-content .tab-pane.active {
    clear: both !important;
}

/************Tab Button css************/

/* Create three equal columns that floats next to each other */
.column {
    display: none; /* Hide all elements by default */
}

.showDiv {
    display: block;
}

#myBtnContainer .bstimeslider #leftArrow, #myBtnContainer .bstimeslider #rightArrow {
    display: none;
}

#myBtnContainer .bstimeslider #leftArrow:hover, #myBtnContainer .bstimeslider #rightArrow:hover {
    color: #f22406;
}

#eventEnquire .modal-dialog {
    width: 460px;
    min-height: 250px;
}

#eventEnquire .modal-body {
    padding: 20px 40px 10px;
    font-family: 'Open Sans Regular', "serif";
    font-size: 14px;
}

#eventEnquire .modal-body .adhead {
    text-align: center;
    font-size: 18px;
    font-family: 'Open Sans Regular', "serif";
    line-height: 20px;
    margin-bottom: 5px;
    color: #333;
}

#eventEnquire .modal-body .subadhead {
    text-align: center;
    font-size: 15px;
    font-family: 'Open Sans Bold', "Serif";
    color: #666;
}

#eventEnquire .frm-pnl {
    margin-top: 15px;
    margin-bottom: 15px;
}

#eventEnquire .frm-pnl .input-group {
    margin-bottom: 15px;
}

#eventEnquire .modal-body .btn-default.btn-propad {
    margin: 0 auto;
    display: block;
    text-align: center;
    float: none;
    background: #333;
    color: #fff;
    border: 1px solid #fff;
}

#eventEnquire .modal-body .btn-default.btn-propad:hover {
    background: #fff;
    color: #333;
    border: 1px solid #333;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    #myBtnContainer .bstimeslider #leftArrow, #myBtnContainer .bstimeslider #rightArrow {
        display: block;
    }

    .rm-txt {
        display: none;
    }

    .bstimeslider {

        width: 100%;
        height: 60px;
        background: transparent;
        position: relative;
    }

    .bstimeslider ul li {
        float: left;
        font-size: 18px;
        display: block;
        color: #fff;
    }

    #tslshow {
        position: absolute;
        left: 0;
    }

    #leftArrow {

        width: 15px;
        height: 42px;
        position: absolute;
        left: 15px;
        z-index: 1;
        top: 9px;
    }

    #rightArrow {
        width: 15px;
        height: 42px;
        position: absolute;
        right: 15px;
        z-index: 1;
        top: 9px;
    }

    #viewContainer {
        width: 100%;
        height: 100%;
        position: absolute;
        /* left:50%;
        margin-left:-180px; */
        overflow: hidden;
    }

    h1.evn {
        font-size: 25px;
        line-height: 25px;
        margin-left: 15px;
        margin-top: 9px;
    }

    .eventbor {
        height: 100px;
        padding: 0 10px;
        margin: 0 auto 20px;
    }

    .eventbor .col-md-3.mdfy {
        padding: 0;
        width: 36%;
        float: left;
    }

    .eventserblk .dropbtn {
        width: 340px;
    }

    ul.eventlist {
        margin: 30px auto;
    }

    ul.eventlist li {
        width: auto;
        float: none;
        height: auto;
        padding-bottom: 60px;
    }

    ul.eventlist li .imgblk {
        width: 100%;
        height: auto;
    }

    ul.eventlist li .imgblk img.bdr {
        width: 100%;
    }

    ul.eventlist li .logocent {
        height: 174px;
        width: 320px;
    }

    .eventtabblk ul.nav-tabs {
        margin-top: 10px;
    }

    .eventtabblk .nav-tabs > li {
        margin: 0 auto;
    }

    .eventtabblk .nav-tabs > li {
        display: block;
        float: left;
    }

    .eventtabblk .nav-tabs > li > a {
        padding: 10px 10px;
        font-size: 12px;
    }

    .eventbor .col-md-7.mdfy {
        width: 50%;
    }

    .eventbor .col-md-3.rightp {
        width: 50%;
        padding-right: 20px;
    }

    .eventbor .col-md-2.eventserblk {
        width: 100%;
    }

    #eventEnquire .modal-dialog {
        width: 92%;
    }

    .eventserblk .dropdown-content {
        width: 100%;
    }
}

@media only screen and (min-width: 320px) and (max-width: 359px) {

    .eventserblk .dropbtn {
        width: 300px;
    }

    .eventserblk .dropdown-content {
        width: 100%;
    }

    h1.evn {
        font-size: 22px;
    }

}

@media only screen and (min-width: 480px) and (max-width: 599px) {

    .eventserblk {
        text-align: center;
    }

    .eventserblk .dropdown-content {
        width: 100%;
    }
}

@media only screen and (min-width: 600px) and (max-width: 767px) {
    .eventbor .col-md-7.mdfy {
        width: 28%;
    }

    .eventbor .col-md-3.rightp {
        width: 35%;
    }

    .eventbor .col-md-2.eventserblk {
        width: 37%;
    }

    #myBtnContainer .bstimeslider #leftArrow, #myBtnContainer .bstimeslider #rightArrow {
        display: none;
    }

    .bstimeslider {
        height: auto;
    }

    #viewContainer {
        position: static;
        overflow: inherit;
    }

    #tslshow {
        position: static;
        left: 0;
        width: auto;
    }


    .eventserblk ul.seablk li {
        width: auto;
        float: none;
    }

    .eventtabblk .nav-tabs > li {
        display: inline-block;
        float: none;
    }

    .eventtabblk .nav-tabs > li > button {
        padding: 10px 13px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .eventbor {
        margin-left: 0;
        margin-right: 0;
        height: 50px;
    }

    .eventbor .col-md-3.mdfy {
        padding: 0;
        width: 21%;
    }

    .eventbor .col-md-7.eventserblk {
        width: 79%;
        float: left;
        padding: 0;
    }

    h1.evn {
        font-size: 36px;
        line-height: 30px;
    }

    .eventserblk ul.seablk li {
        display: inline-block;

        margin-left: 0;
    }

    .eventserblk .dropbtn {
        width: 170px
    }

    .eventtabblk .nav-tabs > li {
        margin-bottom: 10px;
    }

    ul.eventlist li {
        width: 345px;
    }

    ul.eventlist li .imgblk {
        width: 100%;
        height: auto;
    }

    ul.eventlist li .imgblk img.bdr {
        width: 100%;
    }

}

@media only screen and (min-width: 1024px) and (max-width: 1199px) {
    .eventtabblk .nav-tabs > li {
        margin-bottom: 15px;
    }

    .eventbor .col-md-7.mdfy {
        width: 50%;
    }

    .eventbor {
        margin-left: -30px;
        margin-right: -30px;
        height: 50px;
    }

    .eventbor .col-md-3.rightp {
        width: 28%;
    }

    .eventbor .col-md-2.eventserblk {
        width: 22%;
    }

    ul.eventlist {
        width: 820px;
        margin: 0 auto;
    }

    .eventtabblk .nav-tabs > li > a {
        padding: 10px 12px;
        font-size: 13px;
    }

}

@media only screen and (min-width: 1024px) and (max-width: 1199px) {
    ul.sublink li a {
        margin-left: 10px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .sublinkdrop {
        margin-left: 10px;
    }
}
