#menubar li{ padding-top:6px;}
header.scroll-head .nav-cont #menubar li a{ padding:7px 8px;}
header.scroll-head .nav-cont #menubar li ul li{padding:6px 5px !important;}
header.scroll-head .nav-cont #menubar li ul li a{padding: 3px 5px;}