.brandopt2 { position:relative;}
.landing.bop2 { position:absolute; width:1200px;  margin:20px auto 0; top:0px; left:auto; right:auto; display:block; z-index:3; border-radius:4px;}
.bannerimg { }
.centblk {width: 1200px; margin: 0px auto;}
.centblkgdgd {width: 1200px; margin: 0px auto;}
.brandopt2 .landing .brand-logo {  border-top-left-radius:4px; border-bottom-left-radius:4px; border-top-right-radius:0px; border-bottom-right-radius:0px; border:0px; border-right:1px solid #dbdbdb;}
.brandopt2 .landing .ttl { margin-bottom:3px; margin-top: 10px;}
.brandopt2 .landing .sub-ttl { margin-bottom:0px; color:#333333;font-family:'Open Sans Light'; text-transform:capitalize; font-size:15px; }
.brandopt2 .landing .tab-panel { border:0px; padding:0px; background-color:transparent;}
.brandopt2 .landing .tab-panel ul {background-color:#333333;}
.brandopt2 .landing .tab-panel ul li a {background-color:#333; color:#ffffff; font-size:13px;}
.brandopt2 .landing .tab-panel ul li {background-color:transparent;}
.brandopt2 .landing .tab-panel ul li:first-child a {border-left: 10px solid #333;}
.brandopt2 .landing .tab-panel ul li a { border:none;}
.brandopt2 .landing .tab-panel ul li a.Brandpadleft10 {border-left: 1px solid #333;}
.brandopt2 .landing .tab-panel ul li a:hover, .brandopt2 .landing .tab-panel ul li a.active {background-color:#f3f3f3;color:#333;}
.centblkgdgd .rht-pnl ul li a:hover, .landing .tab-panel .rht-pnl ul li a.active{border:none;}
.brandopt2 .tab-panel .rht-pnl{float:right;}
.brandopt2 .tab-panel .rht-pnl ul li a{border-radius:3px;}
.brandopt2 .tab-panel .rht-pnl ul li:first-child a{margin-right:10px;}
.brandopt2 .tab-content{clear:both;float:left;}
.centblkgdgdbg{width: 1200px;margin: -65px auto 0;position: relative;    z-index: 2;}
.centblkgdgdbg .lft-pnl{ width:73%; float:left; }
.centblkgdgdbg .rht-pnl{ width:25%; float:right; margin-left:10px; }
.centblkgdgdbg .rht-pnl .share-rat-pnl .rat-info{padding:15px 0px;background:#fff;}
.centblkgdgdbg .rht-pnl .share-rat-pnl .rat-info ul{list-style:none;width:76%;margin:0 auto;}
.centblkgdgdbg .rht-pnl .share-rat-pnl .rat-info ul li{border-right:1px solid #dbdbdb;padding:0px 10px;font-family:"Open Sans Light";font-size:14px;display:inline-block;}
.centblkgdgdbg .rht-pnl .share-rat-pnl .rat-info ul li:last-child{border-right:0px;}
.centblkgdgdbg .rht-pnl .share-rat-pnl .rate-action{background-color:#fff;padding:0px 35px 10px;clear:both;float:none;width:100%;text-align:center;overflow:hidden;}
.centblkgdgdbg .rht-pnl .share-rat-pnl .rate-action ul{list-style:none;}
.centblkgdgdbg .rht-pnl .share-rat-pnl .rate-action ul li{float:left;cursor:pointer;}
.centblkgdgdbg .rht-pnl .share-rat-pnl .rate-action ul li a{font-family:'Open Sans Regular';display:block;font-size:14px;border:1px solid #dbdbdb;border-left:0px;padding:5px 13px;background-color:transparent;color:#666666;}
.centblkgdgdbg .rht-pnl .rate-action ul li:first-child a{border-left:1px solid #dbdbdb;border-top-left-radius:3px;border-bottom-left-radius:3px;}
.centblkgdgdbg .rht-pnl .rate-action ul li:last-child a{border-top-right-radius:3px;border-bottom-right-radius:3px;}
.centblkgdgdbg .rht-pnl .rate-action ul li a:hover{color:#fff;background-color:#333333;border-color:#333333;}
.centblkgdgdbg .business-infonoimg  {padding: 20px 0px;background-color:#fff;}
.bannerimg .carousel-inner>.item>a>img, .bannerimg .carousel-inner>.item>img {}
.bannerimg  .carousel-indicators {bottom: 50px; z-index:2;}
.bannerimg .carousel-indicators li { width:50px; height:5px; border-radius:0px;background-color:#fff; border:0px;}
.bannerimg  .carousel-indicators .active { background-color:#f22406; position:relative; top:0px; height:6px;  border:0px;}
.bglayer {background-color: rgba(0,0,0,0.5);width: 100%;position: absolute;height: 100%;z-index: 1; }
#myCarousel .carousel-inner .item {  /*background-size: cover;*/
  background-position: center center;
  background-repeat: no-repeat;
  max-width:100%; 
  height:600px;
  margin:0 auto;
  /*background:none!important;*/
 
  }
  
  #myCarousel .carousel-inner .item img{ display:none; }
  
.bglayerabove {background:url(../images/tp-bg.png); background-repeat:repeat-x; top:0;  width: 100%;position: absolute;height:190px; z-index: 1; }

.bglayerbottom {background:url(../images/bt-bg.png); background-repeat:repeat-x; bottom:0;  width: 100%;position: absolute;height:190px; z-index: 1; }

.stickylandpopt2{background-color:#fff;box-shadow:0px 2px 10px rgba(0, 0, 0, .7);position:fixed;margin:0 auto;z-index:3;width:100%;padding:0px;top:0; height:102px;
animation:slide-down 0.9s; transform: translateZ(0);
}

.stickylandpopt2 .landing.bop2 { position:static; margin: 0px auto 0; }

@keyframes slide-down {
0% {
opacity: 0.5;
transform: translateY(-100%);
} 
100% {
opacity: 0.9;
transform: translateY(0);
} 
}


@media only screen and (min-width:1px) and (max-width:767px){ 
.landing.bop2  { width:100%;}
.centblkgdgdbg {width: 94%; margin: 20px auto 0;}
.centblkgdgdbg .lft-pnl {width: 100%; float:none;}
.centblkgdgdbg .rht-pnl {width: 100%; float:none;}
.centblkgdgdbg .business-infonoimg {padding:25px 0px; border:1px solid #dbdbdb;;
border-radius: 4px;}
.centblkgdgdbg .business-infonoimg ul li {font-size: 15px;}
.centblkgdgdbg .business-infonoimg ul li div {font-size: 16px;}
.centblk {width: 100%; margin: 0px auto;}
.landing.bop2 {position: static;}
.brandopt2 .landing .brand-logo {border-right: 1px solid #dbdbdb; border: 1px solid #dbdbdb; border-top-left-radius: 4px; border-bottom-left-radius: 4px;
border-top-right-radius: 4px;border-bottom-right-radius: 4px;}
.landing.bop2 .tab-panel .lft-pnl { float:none; display:block; margin:0 auto;width: 92%;}
.landing.bop2 .tab-panel .rht-pnl { float:none; display:block; margin: 0 auto 20px; padding-left: 10px;overflow: hidden; width: 111px;}
.bannerimg .carousel-inner > .item > a > img , .bannerimg .carousel-inner>.item>img { height:200px;}
.centblkgdgdbg .rht-pnl {margin-left: auto;}
.brandopt2 .bannerimg .carousel-indicators {width: 61%; bottom: -8px;}

.bglayerbottom,  .bglayerabove { background:none;}
.bannerimg .carousel-indicators li {width: 20px;}
#myCarousel .carousel-inner .item { background:none!important; height:auto;  }
  #myCarousel .carousel-inner .item img{ display:block; width:100%; height:auto; }
}
@media only screen and (min-width:480px) and (max-width:767px){ 
.landing.bop2 .tab-panel .lft-pnl { float: none; display: block; margin: 0 auto; width: 360px;}
.centblkgdgdbg .rht-pnl { width: 94%;margin-left: auto; margin-right:auto; }
.centblkgdgdbg .lft-pnl { width: 94%;margin-left: auto; margin-right:auto; }
}
@media only screen and (min-width:414px) and (max-width:767px){ 
.bannerimg .carousel-inner > .item > a > img, .bannerimg .carousel-inner>.item>img { height: 220px; }
}
@media only screen and (min-width:480px) and (max-width:767px){ 
.landing.bop2 .tab-panel .lft-pnl {float: none;
display: block;
margin: 0 auto;
width: 425px;}
}
@media only screen and (min-width:768px) and (max-width:1023px){ 
.landing.bop2  { width:100%;}
.centblkgdgdbg {width: 94%;}
.centblkgdgdbg .lft-pnl {width: 54%;}
.centblkgdgdbg .rht-pnl {width: 42%;}
.centblkgdgdbg .business-infonoimg {padding:25px 0px;}
.centblkgdgdbg .business-infonoimg ul li {font-size: 15px;}
.centblkgdgdbg .business-infonoimg ul li div {font-size: 16px;}
#myCarousel .carousel-inner .item { background:none!important; height:auto;  }
  #myCarousel .carousel-inner .item img{ display:block; width:100%; height:auto; }
.bglayerbottom,  .bglayerabove { background:none;}
.centblkgdgdbg {margin: -20px auto 0;}
.bannerimg .carousel-indicators {bottom: 3px;}
.centblk {margin-top: -20px;}
}
@media only screen and (min-width:1024px) and (max-width:1199px){ 
.landing.bop2  { width:100%;}
.centblkgdgdbg {width: 92%;}
.centblkgdgdbg .lft-pnl {width: 65%;}
.centblkgdgdbg .rht-pnl {width: 33%;}

.bglayerbottom,  .bglayerabove { background:none;}
.centblkgdgdbg {margin: -20px auto 0;}
.bannerimg .carousel-indicators {bottom: 3px;}
#myCarousel .carousel-inner .item { background:none!important; height:auto;  }
  #myCarousel .carousel-inner .item img{ display:block; width:100%; height:auto; }
.bglayerbottom,  .bglayerabove { background:none;}
.centblk {margin-top: -20px;}
.brandopt2 .landing .ttl { display:inline-block; border-right:1px dotted #dfdfdf; padding-right:10px;}
.brandopt2 .landing .sub-ttl { display:inline-block;}

.landing.bop2 .brand-logo {height: 92px;}
.centblk.stickylandpopt2 {margin-top: 0px;}
}

/*@media only screen and (min-width:1201px) and (max-width:1363px){ 

}*/
