.carbon-poweredby,em,i{font-style:italic}

.c-button,.c-menu__close{-moz-appearance:none;appearance:none;border-radius:none;-webkit-appearance:none;font-size:14px;box-shadow:none}
.c-button:focus,.c-menu__close:focus{outline:0}
#carbonads,.c-mask,.c-menu{position:fixed}
.o-wrapper{transition:transform .3s}
.c-menu,.o-wrapper{-webkit-transition:-webkit-transform .3s}.o-container{margin:0 auto;padding:0 12px;max-width:960px}

ul.side-listnew {    color: #333333;    float: none;    margin:0px 0 0 0;    padding: 0;}
ul.side-listnew li:first-child {    margin:0px;}
ul.side-listnew li:last-child {    margin: 0px 0 15px 0;}
ul.side-listnew li {    font-family: "Open Sans Regular";    font-size: 14px;    margin: 0;    padding: 0;}
ul.side-listnew li a {    color: #333333;    display: block;    padding: 5px 0 5px 15px;}
ul.side-listnew li a:hover{  color:#000;     padding: 5px 0 5px 15px; background:#f6f6f6; display:block;}
.magt { margin:-10px 0 0 0;}

ul li { list-style-type:none;}
.login-p-home { background:#fff; height:40px; color:#000; border-bottom:1px solid #dfdfdf; }
.login-p-home a { color:#000; }
ul.wel-list { margin:0px; padding:10px 0 0 15px; width:81%; float:left;}
ul.wel-list li{ margin:0px 0 4px 0; padding:0px;font-size:15px;font-family: 'Open Sans Regular';}
ul.wel-list li strong{ font-size:16px; font-weight:bold;}
.wel-list-re {width:9%; float:right; padding:0px 10px 0 0; }

.rightmenusb {width:9%; float:left; padding:10px 10px 0 0; color:#fff; font-size:20px; }

.log-s-h { margin:0 0 0 5px;}
ul.wel-list li a{color:#000;}
.login-p-home-right { background:#e62005; height:95px; color:#fff; }
ul.wel-list-right { margin:0px; padding:15px 0 0 10px; width:82%; float:left;}
ul.wel-list-right li{ margin:0px 0 4px 0; padding:0px;font-size:14px;font-family: 'Open Sans Regular'; line-height:22px;}
ul.wel-list-right li strong{ font-size:16px; font-weight:bold;}
.wel-list-re-right {width:10%; float:right; padding:15px 10px 0 0; }
.log-s-h-right { margin:0 0 0 5px;}

.sideline {    padding-bottom: 1px;    border-bottom: 1px solid #dfdfdf;	display:block;    width: 100%; margin:0px;}
ul.side-list { margin:0px; padding:0px 0 0 0px;  float:none;color:#333333;}
ul.side-list li{ margin:0px; padding:0px;font-size:14px;font-family: 'Open Sans Regular';}
ul.side-list li:first-child{margin:12px 0 0;}
ul.side-list li:last-child{margin:0 0 12px 0;}
ul.side-list li a{color:#333333;  padding: 7px 0 7px 15px;display:block;font-family: 'Open Sans Light'; }
ul.side-list li a:hover{  color:#000;     padding: 7px 0 7px 15px; background:#f6f6f6; display:block;}
ul.side-bot-list { margin:0px auto 0;  width:100%; color:#333333; text-align: center;border-top: 1px solid #dfdfdf; padding: 15px 0 0 0;}
ul.side-bot-list li{ margin:0px auto; padding:0 5px;font-size:14px;font-family: 'Open Sans Regular'; display: inline;}
ul.side-bot-list li a{color:#333333;}


.login-side-home { height:75px; color:#fff; }
.login-l1{ width:74%;font-size:25px;font-family: 'Open Sans Regular'; color:#333333; float:left; padding: 30px 0 0 35px;  }
.login-l2 {width:10%; float:right; padding:15px 10px 0 0; }
ul.side-list-right {  padding:0px 0 0 35px; width:88%; float:none;color:#333333;}
ul.side-list-right li{ margin:10px 0 0px 0; padding:0px;font-size:15px;font-family: 'Open Sans Regular';}
ul.side-list-right li.fr-login{ font-size: 18px; margin: 1px 0 0 5px; line-height:24px;}
ul.side-list-right li a{color:#006699; font-family: 'Open Sans Regular';}
ul.side-list-right li .login-side{  cursor:pointer;background:url(../images/login-btn-side.gif?d=2) no-repeat; width:91px; height:30px;}
ul.side-list-right li input[type="radio"]{border: 1px solid #ccc; position: relative;top: 0px;background:#fff;right:5px;}
ul.side-list-right li input[type="text"] {background: #ffffff none repeat scroll 0 0;border: medium none;color: #666666;float: none;
height: 22px;padding: 4px;width: 75%;border: 1px solid #ccc; font-size:15px;font-family: 'Open Sans Regular';color:#666666; }
ul.side-list-right li input[type="password"] {background: #ffffff none repeat scroll 0 0;border: medium none;color: #666666;float: none;
height: 22px;padding: 4px;width: 75%;border: 1px solid #ccc; font-size:15px;font-family: 'Open Sans Regular';color:#666666; }
ul.side-list-right li input[type="checkbox"]{border: 1px solid #ccc; position: relative;top: 1px;background:#fff;right:1px;}
ul.side-list-right li .f-send-side{  cursor:pointer;background:url(../images/send-side.gif?d=2) no-repeat; width:91px; height:30px;}
.side-s-txt  { text-align: center; margin: 10px auto 40px 0; font-size:14px;font-family: 'Open Sans Regular';}
ul.side-list-right li.fr-login input.has-error{ border:1px solid red!important;}
ul.side-list-right li.fr-login input.has-success { border:1px solid #ccc!important;}


ul.topsocialside {      margin: 0;    padding: 15px 0px; text-align:center; }	
ul.topsocialside li { padding:3px; margin:0px; display:inline; font-size: 16px; }
ul.topsocialside li a{ color:#333333; }
ul.topsocialside li a:hover{ color:#000; }



@media all and (min-width:480px){.o-container{padding:0 24px}}@media all and (min-width:720px){.o-container{padding:0 48px}}

.o-header{margin:0;padding:0}.o-header-nav{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;background-color:#67b5d1}.o-header-nav__link{padding:12px;color:#fff}.o-header-nav__link:hover{color:#fff;background-color:#3184a1}.o-header__title{margin:24px;padding:0;color:#818181;font-size:28px;font-weight:300;text-align:center}


@media all and (min-width:480px){.o-header__title{margin:36px;font-size:42px}}.o-sub-nav{margin:0 0 24px;padding:0}.o-sub-nav__items{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-flow:row wrap;-ms-flex-flow:row wrap;flex-flow:row wrap;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;list-style:none;margin:0;padding:0}.o-sub-nav__item{margin:0;padding:4px}.o-sub-nav__link{display:block;margin:0;padding:4px 24px;border:2px solid #67b5d1}.o-sub-nav__item.active .o-sub-nav__link,.o-sub-nav__link:hover{color:#fff;background-color:#67b5d1}.o-footer{padding:12px 0;text-align:center}


@media all and (min-width:480px){.o-footer{padding:24px 0}}@media all and (min-width:720px){.o-sub-nav{margin:0 0 48px}.o-footer{padding:48px 0}}.c-menu{z-index:200;background-color:#fff;transition:transform .3s}.c-menu__items{list-style:none;margin:0;padding:0;overflow: visible;}.c-menu--push-left,.c-menu--push-right,.c-menu--slide-left,.c-menu--slide-right{width:100%;height:100%;/*overflow-y:scroll*/}

@media all and (min-width:320px){
	.c-menu--push-left,.c-menu--slide-left{width:287px; min-height:600px; height:100%; overflow:auto;} 
.c-menu--push-right,.c-menu--slide-right{width:284px;min-height:600px; height:100%; overflow:auto; background:#202020;}


.c-menu--push-left .c-menu__item,.c-menu--push-right .c-menu__item,.c-menu--slide-left .c-menu__item,.c-menu--slide-right .c-menu__item{
/*display:block;text-align:center;border-top:solid 1px #b5dbe9;border-bottom:solid 1px #3184a1;*/

}
.c-menu--slide-left .c-menu__close  { background:#fff;}

.c-menu--push-left .c-menu__close,.c-menu--slide-right .c-menu__close,
.c-menu--push-right .c-menu__close,  {padding:0px 2px!important;color:#fff}
.c-menu--push-left .c-menu__item:first-child,.c-menu--push-right .c-menu__item:first-child,.c-menu--slide-left .c-menu__item:first-child,.c-menu--slide-right .c-menu__item:first-child{border-top:none}.c-menu--push-left .c-menu__item:last-child,.c-menu--push-right .c-menu__item:last-child,.c-menu--slide-left .c-menu__item:last-child,.c-menu--slide-right .c-menu__item:last-child{border-bottom:none}.c-menu--push-left .c-menu__link,.c-menu--push-right .c-menu__link,.c-menu--slide-left .c-menu__link,.c-menu--slide-right .c-menu__link{display:block;padding:5px 10px;color:#000; text-decoration:none;}.c-menu--push-right .c-menu__close,.c-menu--slide-left .c-menu__close{
/*display:block;padding:12px 24px;width:100%*/}.c-menu--push-left,.c-menu--slide-left{top:0;left:0;-webkit-transform:translateX(-100%);-ms-transform:translateX(-100%);transform:translateX(-100%)}

@media all and (min-width:320px){.c-menu--push-left,.c-menu--slide-left{-webkit-transform:translateX(-300px);-ms-transform:translateX(-300px);transform:translateX(-300px)}}.c-menu--push-left.is-active,.c-menu--slide-left.is-active{-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0); z-index: 2147483647;}.c-menu--push-right,.c-menu--slide-right{top:0;right:0;-webkit-transform:translateX(100%);-ms-transform:translateX(100%);transform:translateX(100%)}


@media all and (min-width:320px){.c-menu--push-right,.c-menu--slide-right{-webkit-transform:translateX(300px);-ms-transform:translateX(300px);transform:translateX(300px)}}.c-menu--push-right.is-active,.c-menu--slide-right.is-active{-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0); z-index: 2147483647; margin-top:0px;    padding-right: 0px;
    padding-left: 0px;}.c-menu--push-bottom,.c-menu--push-top,.c-menu--slide-bottom,.c-menu--slide-top{vertical-align:middle;width:100%;height:60px;text-align:center;overflow-x:scroll}.c-mask,body.has-active-menu{overflow:hidden}.c-menu--push-bottom .c-menu__items,.c-menu--push-top .c-menu__items,.c-menu--slide-bottom .c-menu__items,.c-menu--slide-top .c-menu__items{display:inline-block;text-align:center}.c-menu--push-bottom .c-menu__item,.c-menu--push-top .c-menu__item,.c-menu--slide-bottom .c-menu__item,.c-menu--slide-top .c-menu__item{display:inline-block;line-height:60px}.c-menu--push-bottom .c-menu__link,.c-menu--push-top .c-menu__link,.c-menu--slide-bottom .c-menu__link,.c-menu--slide-top .c-menu__link{display:block;padding:0 4px;color:#fff}.c-menu--push-bottom .c-menu__close,.c-menu--push-top .c-menu__close,.c-menu--slide-bottom .c-menu__close,.c-menu--slide-top .c-menu__close{display:inline-block;margin-right:12px;padding:0 24px;height:60px;line-height:60px}.c-menu--push-top,.c-menu--slide-top{top:0;left:0;-webkit-transform:translateY(-60px);-ms-transform:translateY(-60px);transform:translateY(-60px)}.c-menu--push-top.is-active,.c-menu--slide-top.is-active{-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}.c-menu--push-bottom,.c-menu--slide-bottom{bottom:0;left:0;-webkit-transform:translateY(60px);-ms-transform:translateY(60px);transform:translateY(60px)}.c-menu--push-bottom.is-active,.c-menu--slide-bottom.is-active{-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}.o-wrapper.has-push-left{-webkit-transform:translateX(100%);-ms-transform:translateX(100%);transform:translateX(100%)}


@media all and (min-width:320px){.o-wrapper.has-push-left{-webkit-transform:translateX(300px);-ms-transform:translateX(300px);transform:translateX(300px)}}.o-wrapper.has-push-right{-webkit-transform:translateX(-100%);-ms-transform:translateX(-100%);transform:translateX(-100%)}


@media all and (min-width:320px){.o-wrapper.has-push-right{-webkit-transform:translateX(-300px);-ms-transform:translateX(-300px);transform:translateX(-300px)}}.o-wrapper.has-push-top{-webkit-transform:translateY(60px);-ms-transform:translateY(60px);transform:translateY(60px)}.o-wrapper.has-push-bottom{-webkit-transform:translateY(-60px);-ms-transform:translateY(-60px);transform:translateY(-60px)}.c-menu__close{color:#fff;border:none;cursor:pointer}.c-mask{z-index:100;top:0;left:0;width:0;height:0;background-color:#000;opacity:0;-webkit-transition:opacity .3s,width 0s .3s,height 0s .3s;transition:opacity .3s,width 0s .3s,height 0s .3s}.c-mask.is-active{width:100%;height:100%;opacity:.7;-webkit-transition:opacity .3s;transition:opacity .3s}.c-buttons{margin-bottom:48px;text-align:center}.c-button{display:inline-block;margin:4px;padding:12px 24px;color:#67b5d1;background:0 0;border:2px solid #67b5d1;cursor:pointer}.carbon-img,.carbon-wrap{display:block;margin:0 0 4px}.c-button:disabled{opacity:.3;cursor:not-allowed}#carbonads{bottom:12px;right:12px;z-index:1000;padding:24px 12px 12px;width:154px;background-color:#fff;line-height:1.1;border:1px solid #e7e7e7}.carbon-img{padding:0;width:130px;height:100px}.carbon-text{color:#818181;font-size:12px}.carbon-poweredby{font-size:10px}.carbonad__close{display:block;position:absolute;top:0;left:12px;height:24px;font-size:11px;line-height:24px}

@media all and (max-width:660px){#carbonads{display:none}}