
.myaccright .bdr-tp-bt .paddright0 { padding-right:auto;}


.myaccright .bdr-tp-bt-rmgroup {    padding: 20px 15px 0px;}


.formsection  .width165 {  width: 120px;}











#scroll {    position:fixed;    right:10px;    bottom:10px;    cursor:pointer;      display:block; border-radius:50%;-webkit-box-shadow:0px 2px 5px rgba(5,5,5,0.2);;-moz-box-shadow:0px 2px 5px rgba(5,5,5,0.2);; box-shadow:0px 2px 5px rgba(5,5,5,0.2); color:#f22406; background:#fff;     padding-top: 10px;
width: 50px; height: 50px; text-align: center;}
#scroll:hover {background:#f22406; color:#fff;}




.catleft .cat-filter .category-lst ul li ul li label input[type=radio] { position:relative; top:2px; }
.catleft .cat-filter .category-lst ul li ul li  ul{ margin-left: 5px; }
.catleft .cat-filter .category-lst ul li ul li  ul li{ padding-left: 0px; }
.firstmargin0 {margin-top:10px;}


    padding-left: 0px;



input[type=checkbox], 





.catleft .cat-filter .category-lst ul li ul li 








.catleft .cat-filter .category-lst ul li ul li .checkbox label { padding-left:7px; }
.catleft .cat-filter .category-lst ul li ul li ul li .checkbox label { padding-left:7px; }



line :804p;x
