<IfModule mod_rewrite.c>
    Options +FollowSymLinks
    RewriteEngine On

    # Redirect abc to abc1
    RewriteRule ^abc54$ /abc12 [R=301,L]
    RewriteRule ^article/jbm-group-and-keppel-partner-to-boost-e-mobility-and-green-infrastructure-in-india-35999$ https://fiuat.franchiseindia.com/insights/en/article/jbm-group-and-keppel-partner-to-boost-e-mobility-and-green-infrastructure-in-india.55599 [R=301,L]

    # Handle requests
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>
