/* insightstyle.css changes  */

ul.art-detail-read{display: flex!important;margin-bottom: 10px;justify-content: space-between;padding-left: 0px;list-style: none;margin-top: 15px;width: 100%;}
ul.art-detail-read li{width: 48%!important;}
ul.art-detail-read li:first-child{color: rgb(83, 83, 83);margin-left: 0px;font-size: 14px;cursor: pointer;}
ul.art-detail-read li:first-child a, ul.art-detail-read li:first-child a:hover{color: #169743;}
ul.art-detail-read li:last-child{color:rgb(83, 83, 83);text-align: right;font-size: 13px;font-weight: 400;}

.detailbtn {
  color: #060606;
  background-color: transparent;
  border-color: #000;
  padding: 0px;
  border-radius: 6px;
  font-size: 14px;
  text-decoration: underline;
}
#header{z-index: 4!important;}

.scbk{display: flex;
  justify-content: space-between;
  margin-top: 16px!important;}

@media only screen and (min-width: 993px) and (max-width: 1280px) {
  #searchbar {
    right: 50px;
  }
}


/* insightstyle.css changes  */



.author-left-thumb img{border: 1px solid #e6e6e6;}

.author-archive p{font-size: 16px;
  line-height: 22px;margin-bottom:50px;
  color: #3e3e3e;}
.author-left-nam{line-height: 34px;}
h2.author-archive-title{
 font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 30px;
  color: #1b1b1b;
  margin-bottom: 14px;
  margin-top: 30px;

}

h3.author-archive-cat {
  font-size: 25px;
  line-height: 44px;
  color: #3e3e3e;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin-bottom: 15px;
  text-transform: capitalize;
}


.author-archive ul{list-style: none;
  padding-left: 0px;
  display: flex;
  flex-wrap: wrap;}

.author-archive ul li{margin: 0px 10px 30px 0px;width: 235px;}




.read-time span{margin-bottom: 3px;line-height: 17px;
  color: #169743;}

.article-features {
  display: flex;
  justify-content: space-between;
}

.contentwrapper .article-date {
 width: 74%;
  display: flex;
  margin:5px 0px 10px 0px;
}
.article-logo {
  float: left;
}

.article-time img {
  width: auto !important;height: auto!important;
}
.article-time {
  color: #808080;
  font-size: 14px;line-height: 19px;
  float: left;
  margin-left: 15px;
}
.article-time span {
  display: block;
  color: #231F20;
}

.contentwrapper .content-share {
 width: 85px;
  text-align: right;
  margin-right: 0px;
  margin-top: 13px;
}
.article-wrap ul {
  padding-left: 17px;
}
.article-wrap ul li {
  color: #555353;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
}
.article-features .follow-us {
  margin-top: 17px;width: 100px;
}
.article-features .follow-us a {
  color: #000;
  font-size: 13px;
  padding: 6px 13px;
  border: 1px solid #333;
  border-radius: 5px;
  text-decoration: none;
}
.article-features .follow-us img {
  width: 11px;
  height: 10px;
  vertical-align: unset;
  margin-left: 1px;
}
  
.content-share ul li {
  display: inline-block;
}
.content-share ul {
  list-style: none;
  display: block;padding-left: 0px;
}


.cont-top{margin-top: 4px;}
.cont-top h1{margin-top: 0px;font-size: 28px;
  line-height: 31px;}
ul.breadcrumb{margin: 0px;padding: 0px;}

.sliderauthor{margin-bottom: 50px;}
.home-author-list{position: relative;
  background: #f5f5f5;min-height: 325px;
  padding: 20px;
  text-align: center;
  border: none;
  border-radius: 0px;}
.home-author-name {
 font-size: 18px;
  font-weight:500;
  display: block;
  margin-bottom: 10px;
  margin-top: 20px;
  color: #2d2d2d;
}
.home-author-count{color: #000000;}
.home-author-count span{color: #545454;}
.home-author-list img{}
.home-author-des {
 display: block;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 19px;
  color: #373737;
}
/*.home-author-list a{color: #169743;
  position: absolute;
  top: 93%;
  left: 50%;
  transform: translate(-50%,-93%);}*/
/*.home-author-list a:hover{color: #169743!important;text-decoration: underline;}*/

  .sliderauthor .swiper-button-prev, .sliderauthor .swiper-button-next{
  background: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.sliderauthor .swiper-button-next::after, .sliderauthor .swiper-button-prev::after {
  font-size: 20px;
  color: #373737;
}

.authblk {
  margin: 10px 0px 14px 0px!important;
}





    #header .logo img {
  max-height: 35px;
}
.ad-right-sticky{position: sticky;
  top: 125px;
  text-align: center;
  width: 300px;}
.autimg {
  width: 60px;
  height: 60px;}
    .maininnver{margin-top: 150px;}
    .inner-article-detail-desktop-top-ad{text-align: center;margin-bottom:10px;margin-top: 16px;}
    ul.breadcrumb{padding-left: 0px;}
    .ad-right{text-align: left;}
    .inner-article-detail-desktop-ad img{width: auto;}
    .inner-article-detail-desktop-ad{margin-bottom: 20px;}
    .contentwrapper{padding: 0px 0px 0px 65px;}
    .right-wrap{width: 300px;margin: auto;display: inline;}

    .popular-articles{border: 1px solid #c6c6c6;
  margin:20px 0px 20px 0px;width: 300px;
  padding: 24px 0px;
  border-radius: 10px;}
    .popular-articles h3{padding: 0px 20px;margin-bottom: 19px;font-weight: 600;font-size: 22px;}
    .popular-articles ul{padding: 0px 0px;list-style: none;}
    .popular-articles ul li{border-bottom: 1px solid #c6c6c6;margin-bottom: 18px;padding: 0px 20px 10px 20px;}
    .popular-articles ul li:last-child{border: none;padding-bottom: 0px;margin-bottom: 0px;}
    .popular-head a{font-size: 17px;
  font-weight: 600;
  line-height: 25px;
  margin-top: 10px;
  display: block;
  color: #414141;}
    .popular-sub a{color: #787878;font-size: 15px;}





.author-new-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.author-new-wrap-left {
  width: 20%;
}


.author-left-thumb{margin-bottom: 28px;}
.author-left-thumb img{border-radius: 100px;}

.author-left-nam{font-size: 25px;
  margin: 10px 0px 15px 0px;
  font-weight: 500;
  color: #000000;}

  .author-left-des{font-size: 15px;
  margin-bottom: 10px;
  line-height: 22px;
  color: #545454;}

  .author-left-count{display: block;
  margin-top: 6px;
  color: #595959;
  font-size: 17px;}

  .author-left-soc {
  display: flex;
  list-style: none;
  padding-left: 0px;
  margin-top: 17px;
}

  .author-left-soc ul{list-style: none;
  padding-left: 0px;
  display: flex;
  margin-bottom: 5px;}

    .author-left-soc ul li{margin-right: 6px;}

    .author-left-soc ul li img{  width: 30px;}
    .follows{margin-top: 20px;
  font-size: 19px;
  font-weight: 600;
  color: #000;
  margin-bottom: 18px;
  display: block;
}


    .author-new-wrap-right{width: 80%;
  background: #fff;
  border: none;
  border-radius: 5px;}
    .author-left-soc{display: flex;
  list-style: none;
  padding-left: 0px;
  margin-top: 10px;}

  .author-top-new ul.nav{margin-top: 12px;
  margin-left: 0px;
  border-bottom: 0px;
  padding-bottom: 13px;}

    .author-top-new ul.nav li{margin-right:0px;}

    .author-top-new ul.nav li a.active{background: #f4f4f4;
  color: #2e2e2e;
  border-radius: 5px 5px 0px 0px;}
.author-top-new ul.nav li a:hover{color: #2e2e2e!important;background: #f4f4f4;}
    .author-top-new ul.nav li a{border: none;font-size: 15px;
  padding: 12px 29px;font-weight: 500;
  background: #fff;
  border-radius: 0px 5px 0px 0px;
  color: #383838;}
  .author-new-wrap .tab-content{padding: 20px;
  border: 1px solid #e8e8e8;font-size: 14px;
  line-height: 22px;}
.ad-inner-right{text-align: center;}


.stab ul{display: flex;
  list-style: none;
  padding-left: 0px;
  justify-content: flex-start;
  flex-wrap: wrap;}

.stories .ad-right-author{text-align: center;}
.ad-right-author{text-align: left;
  margin-bottom: 20px;}
  .stories .popular-articles{width: 300px;margin: auto;}
.stories .ad-right-sticky{text-align: center; margin-top: 20px; margin-left: 46px;}
.stab ul li{width: 100%;
  margin: 0px 5px 30px 5px;}

.author-latest-title{color: #231F20;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 11px;display: block;
  margin: 0px 0px 15px 0px;line-height: 28px;}

  .author-fresh-cont p{color: #595959;
  font-size: 16px;line-height: 21px;
  display: block;
  margin: 8px 0px 5px 0px;}
.stories{margin-top: 23px;}
.stories h3{margin-bottom: 38px;font-size: 31px;padding-left: 7px;}


.popular-articles {
  padding: 25px 0px;
  border: 1px solid #E8E8E8;
  border-radius: 8px;
}
.popular-title {
  color: #231F20;
  font-weight: 500;
  padding-left: 25px;
  font-size: 23px;
  margin-bottom: 23px;
}
.popular-sub a {
  color: #595959;
  font-size: 14px;
  display: block;
  margin: 8px 0px 5px 0px;
  text-decoration: none;
}
.popular-head a {
 color: #524F4F;
  font-size: 16px;
  display: block;
  margin: 0px 0px 5px 0px;
  text-decoration: none;
  font-weight: 500;
  line-height: 23px;
}
ul.popular-list {
  list-style: none;
  padding-left: 0px;
}
ul.popular-list li {
  margin-bottom: 17px;
  padding-bottom: 11px;
  border-bottom: 1px solid #E3E3E4;
}
ul.popular-list li:last-child {
  border: none;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.stories ul.nav{margin-bottom: 32px;border-bottom: 0px;}
.stories ul.nav li a.active{padding: 10px 34px;
  border: 1px solid #d5d0d0;
  border-radius: 25px;
  font-size: 12px;}
  .stories ul.nav li a{padding: 10px 10px;
  border: 1px solid #ffffff;
  border-radius: 25px;
  font-size: 12px;}
.stories ul.nav li{margin-right: 10px;}
.author-latest-pic img{border-radius: 8px;}
.author-latest-detail{color: #5b5b5b;}

.maininnver.homeh{margin-left: 0px!important;}

.author-new-wrap-right ul{padding-left: 15px;}
.author-new-wrap-right ul li{margin-bottom: 10px;font-size: 15px;list-style: square;
  line-height: 24px;}

.moretext{display: none;}
a.moreless-button{color: #169743;cursor: pointer;}

/*author 2 style */
.author-left-nam-desc{font-size: 30px;
  margin-bottom: 27px;
  font-weight: 600;
  color: #000;
  padding-top: 12px;}

  .author-new-wrap-right p{font-size: 15px;
  line-height: 24px;
  color: #595959;}

  .author-overview{color: #231F20;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 18px;}
.stories .video-pagination{text-align: left;}
  .stories .video-pagination ul{display: block;}

.stories .video-pagination ul li{display: inline-block;width: auto;margin: 0px;}

.author-fresh{display: flex;}
.author-latest-pic{width: 32%;}
  .author-fresh-cont{width: 68%;
  padding-left: 25px;}

/*author 2 style */


.author-archives ul{list-style: none;padding-left: 0px;
  display: flex;
  flex-wrap: wrap;}
.author-archives ul li{width: 19%;
  margin: 4px;
  background: linear-gradient(to right, #fff, #e1e1e1);
  padding: 20px;
  border: 1px solid #fff;}
.ar-title{font-size: 20px;
  margin-bottom: 10px;
  font-weight: 500;
  color: #2b2b2b;}
  .archive-details{padding-top: 15px;}
  .ar-des{margin-bottom: 20px;}
.author-archives img{border-radius: 100px;
  filter: grayscale(1);
  width: 178px;}


@media screen and (min-width:1000px) and (max-width:1220px){
  .author-new-wrap-right{width: 73.6%;}
  span.top1{margin-left: 0px!important;}
  .author-new-wrap-left{width: 25%;}
  .author-left-thumb {
  width:auto;
}
.contentwrapper .article-date{width: 70%;}
.contentwrapper{padding: 0px;}
}


@media screen and (max-width:767.9px){
  ul.art-detail-read li:last-child{width: 46%!important;}
  .author-latest-pic img{width: 100%!important;object-fit: cover!important;height: 221px!important;}
  ul.art-detail-read li:first-child{width: 54%!important;}
  .cont-top h1 {
 margin-top: 0px;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 10px;
}

.right-wrap{display: block;}

.articlecontent{padding: 0px!important;}

  .articlecontent strong {
    font-size: 15px!important;}

.shortdes {
  font-style: italic;
  font-size: 15px;
  line-height: 22px;
  color: #242424;
  margin-top: 11px;
}

.inner-top-head h1{font-size: 16px!important;line-height: 23px!important;}

  .author-archive ul{display: block;overflow: auto;white-space: nowrap;}
  .author-archive .home-author-list{white-space: initial;min-height: auto;}
  .author-archive ul li{display: inline-block;margin-right: 10x;vertical-align: top;}
  .home-author-count{margin-bottom: 8px;}
  .article-features{display: block;position: relative;}
  .follow-us{position: absolute;
  right: 0px;
  bottom: 5px;}
  ul.breadcrumb {
    padding-left: 0px;
    line-height: 18px;
    margin-top: 12px;
    margin-bottom: 10px;
}
.contentwrapper .article-date{width: 100%;}
      .contentwrapper {padding: 0px 5px 0px 5px;margin-top: 0px;}
        .inner-article-detail-desktop-ad img{width: 100%;}
        .inner-article-detail-desktop-top-ad{margin-bottom: 0px;}
        .content-main{margin-top: 10px!important;}
  .ad-right-author{margin-top: 20px;}
  .author-archives ul li{width: 47%;}
  .author-archives img{width: 120px;}
  .stab ul{display: block;}
  .stories{margin-top: 15px;}
  .stab ul li{width: 100%;margin: 0px 0px 40px 0px;}
  .author-fresh-cont {
  width: 100%;
  padding-left: 0px;
  padding-top: 18px;
}
.author-new-wrap-right p {
  font-size: 15px;
  line-height: 22px;}
.author-left-nam-desc {
  font-size: 22px;
  margin-bottom: 13px;
  padding-top: 12px;
}
.author-overview{font-size: 17px;}
.author-left-nam {
  font-size: 20px;}
.author-fresh-cont p {
  font-size: 15px;
  line-height: 20px;
}
.stories h3{font-size: 23px;}
.author-latest-title {
  font-size: 18px;
  line-height: 24px;}
  .author-fresh{display: block;}
  .author-latest-pic{width: 100%;}
  .author-top-new ul.nav li a{font-size: 14px;
  padding: 12px 22px;}
/*  .home-author-list a{position: unset;}*/
  .home-author-list{min-height: 390px;}
  .home-author-des{margin-bottom: 6px;}
  .home-author-thumb{width: 160px;
    margin: auto;
    display: block;}
.author-new-wrap{display: block;}
.author-new-wrap-left {
  width: 100%;
  text-align: center;
}
.author-left-soc{justify-content: center;margin-bottom: 20px;}
.author-left-thumb {
  display: block;
  margin: auto;
}
    .author-new-wrap-right{width: 100%;margin-top: 37px;}
}